*
!.gitignore
!nvim/
!nvim/*
!nvim/*/*
!nvim/*/*/*
!alacritty/
!alacritty/*
!utils-stuff/
!utils-stuff/*
!utils-stuff/*/*
!utils-stuff/*/*/*
!picom/
!picom/*
!i3/
!i3/*
!i3status-rust/
!i3status-rust/*
!rofi/
!rofi/*
