configuration {
    line-margin: 10;
    icon-theme: "Papirus-Dark";
    display-ssh:    ": ";
    display-drun:   "  ";
    display-window: ": ";
    display-combi:  ": ";
    display-clipboard: "📋 ";
    show-icons:     true;
}


@theme "~/.config/rofi/dxtxz.rasi"

